doctype html
html(lang='en' ng-app='dewey')
  head
    meta(charset='UTF-8')
    title Dewey
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/lib/select2/select2.css')
    link(rel='stylesheet', href='/lib/select2-bootstrap-css/select2-bootstrap.css')
  body
    .container.search-box
      .well
        ul.nav.nav-pills(role='tablist')
          li(ui-sref-active='active')
            a(ui-sref='add') &#x2318;1 Add Bookmark
          li(ui-sref-active='active')
            a(ui-sref='results') &#x2318;2 Search Bookmarks
        ui-view

    script(src='/lib/lodash/dist/lodash.js')
    script(src='/lib/jquery/dist/jquery.js')
    script(src='/lib/select2/select2.js')
    script(src='/lib/store/dist/store2.js')
    script(src='/lib/mousetrap/mousetrap.js')
    script(src='/lib/angular/angular.js')
    script(src='/lib/angular-ui-router/release/angular-ui-router.js')

    script(src='/src/searcher.js')

    script(src='/src/app.js')
    script(src='/src/bookmarks-service.js')
    script(src='/src/tag-service.js')
    script(src='/src/pinboard-sync-service.js')
    script(src='/src/results-controller.js')
    script(src='/src/add-controller.js')
    script(src='/src/autofocus-directive.js')
