doctype html
html(lang='en' ng-app='MyApp')
  head
    meta(charset='UTF-8')
    title MyApp
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
  body
    .container.search-box
      .well
        ol.nav
          li(ui-sref-active='active')
            a(ui-sref='add') Add Bookmark
          li(ui-sref-active='active')
            a(ui-sref='results') Search Bookmarks
        ui-view

    script(src='/lib/lodash/dist/lodash.js')
    script(src='/lib/jquery/dist/jquery.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.js')
    script(src='/lib/angular/angular.js')
    script(src='/lib/angular-ui-router/release/angular-ui-router.js')

    script(src='/src/searcher.js')

    script(src='/src/app.js')
    script(src='/src/bookmarks-service.js')
    script(src='/src/results-controller.js')
    script(src='/src/add-controller.js')
