doctype html
html(lang='en' ng-app='MyApp')
  head
    meta(charset='UTF-8')
    title MyApp
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
  body
    .container.search-box(ng-controller='SearchController as search')
      .well
        form(role='form')
          .form-group
            input.form-control(type='text', ng-model='search.query', placeholder='Search bookmarks')
        ul.search-results
          li.search-result(ng-repeat='bookmark in search.bookmarks | search:search.query | reverse | limitTo: 100')
            a(href='{{ bookmark.href }}')
              div.bookmark-title {{ bookmark.description }}
              div.bookmark-href {{ bookmark.href }}
              span.bookmark-tags
                a(ng-repeat='tag in bookmark.tags.split(" ")', ng-click='search.tagClick(tag)')
                  | {{ tag }} - 


    script(src='/lib/jquery/dist/jquery.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.js')
    script(src='/lib/angular/angular.js')
    script(src='/lib/angular-ui-router/release/angular-ui-router.js')

    script(src='/src/app.js')
