doctype html
html(lang='en' ng-app='MyApp')
  head
    meta(charset='UTF-8')
    title MyApp
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
  body
    .container

    script(src='/lib/jquery/dist/jquery.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.js')
    script(src='/lib/angular/angular.js')
    script(src='/lib/angular-ui-router/release/angular-ui-router.js')

    script(src='/src/app.js')
